*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#F8F5F0;
}

nav{
background:#0F172A;

padding:20px 8%;

display:flex;

justify-content:space-between;

align-items:center;
}

.logo{
font-size:30px;
font-weight:bold;
color:#D4AF37;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{
text-decoration:none;
color:white;
}



.gallery{
padding:100px 10%;
text-align:center;
}

.gallery h1{
font-size:55px;
color:#0F172A;
margin-bottom:50px;
}


.container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:25px;

}

.container img{

width:100%;

height:320px;

object-fit:cover;

border-radius:20px;

cursor:pointer;

transition:.5s;

box-shadow:0 5px 20px rgba(0,0,0,.2);

}

.container img:hover{

transform:scale(1.05);

}



.lightbox{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.9);

display:none;

justify-content:center;

align-items:center;

}

.lightbox img{

width:70%;
max-width:900px;

border-radius:20px;

}

.close{

position:absolute;

top:30px;
right:50px;

font-size:60px;

color:white;

cursor:pointer;

}