*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#F8F5F0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#0F172A;
position:sticky;
top:0;
}

.logo{
font-size:30px;
font-weight:bold;
color:#D4AF37;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:30px;
}

nav ul li a{
text-decoration:none;
color:white;
font-size:18px;
}


.hero{
height:100vh;

background:
linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1521572267360-ee0c2909d518?w=1600");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.content h1{
font-size:75px;
color:#D4AF37;
}

.content p{
font-size:25px;
margin:20px 0;
color:white;
}

button{
padding:15px 40px;
border:none;
font-size:18px;
background:#D4AF37;
cursor:pointer;
border-radius:30px;
}


.collections{
padding:100px 10%;
text-align:center;
}

.collections h1{
font-size:55px;
color:#0F172A;
margin-bottom:50px;
}

.container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.card{
width:300px;
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.2);
transition:.5s;
}

.card:hover{
transform:translateY(-10px);
}

.card i{
font-size:60px;
color:#D4AF37;
margin-bottom:20px;
}



.stats{
padding:100px 10%;

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.box{
width:250px;
background:white;
padding:40px;
text-align:center;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.2);
}

.box h2{
font-size:50px;
color:#D4AF37;
}



.testimonial{
padding:100px 10%;
text-align:center;
}

.review{
width:500px;
margin:auto;
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.2);
}


footer{
background:#0F172A;
padding:50px;
color:white;
text-align:center;
}

.socials i{
font-size:30px;
margin:20px;
cursor:pointer;
color:#D4AF37;
}